@media (min-width: 768px) {
  nav {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
  }

  #hamburger {
    display: none;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}